# Lecture 4
## Naming, Functions, and Typecasting
### Spark 10, Spring 2024
### January 29, 2024

In this section we will introduce the syntax for defininign and declaring variables, functions to perform more complicated operations, the `string` data type for working with text, and converting between data types.

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Part 1: Naming

A fundamental component of progarmming is the ability to assign values wtih a name so that you can reuse them at any time in your program.

The syntax for declaring a variable is `my_name = my_value`.  What you enter for `my_name` can be anything you like (with some exceptions).

In [ ]:
# Assign x the number 5
x = 5

Now instead of entering the single number `5` each time, we can instead call `x` whenever we need to.

In [ ]:
x

Note that the value assigned the name could change as well.  For each of the cells below, what is the output if they are run sequentially? (Try to answer this question before running the cells)

In [ ]:
side_length = 5
area = side_length ** 2
side_length = side_length + 2

In [ ]:
side_length

In [ ]:
area

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Part 2: Functions

Functions take input(s) and produce an output.  Most of the time, functions will be in the following form: `output = f(input)`, which are very similar to mathematical expressions.  Some examples of functions that are within the core of Python are the absolute value (`abs`), maximum (`max`) and minimum (`min`) functions.  The syntax for these functions are:

- `abs(x1)`: Returns the absolute value of `x1`
- `max(x1, x2)`: Returns the larger of `x1` and `x2`.
- `min(x1, x2)`: Returns the smaller of `x1` and `x2`.  
 
Explore how some of these built-in Python functions work below.

In [ ]:
a = max(2, 3)
a

In [ ]:
b = max(4, min(1, 9))
b

In [ ]:
c = -abs(max(4, 5, -1))
c

Understanding how Python evaluates nested call expressions is key to building more complicated code.

Can you figure out what the expression below will evaluate to before running it?

In [ ]:
d = min(abs(max(-1, -2, -3, min(4, -2))), max(5, 100))
d

**Quick Check**: What is the output of the following cell?

In [ ]:
g = max(abs(-1), max(3, 10), min(15, 5))
g

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Part 3: The `string` Data Type

Strings are the data type that Python uses to store text (sequences of characters)

In [ ]:
# Run me
"I am a string"

In [ ]:
# Run me too
state = "California"
type(state)

The `len()` function gets the number of characters in a string and the `+` operator **concatenates** two strings, meaning it will put the two strings together.

In [ ]:
# How many characters does 'California' have?
len(state)

In [ ]:
# Concatenate two strings
mascot = 'bobcats'
'Go ' + mascot + '!!!'

Notice that the `+` operator **behaves differently** when adding multiple strings.  Instead of performing the addition option like with numerical values, it instead makes a string longer than before.

**Quick check**: Can you write a sentence as a string, and count how many characters it contains?  Replace the two `...` below.

In [ ]:
# How many characters does your sentence have?
this_sentence = ...
...(this_sentence)

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Part 4: Typecasting

We have covered several arithmetic operators so far:

In [ ]:
(7 - 5) ** 11 + 2 - 13 * 2

Combining several `int`s without using "regular" division always results in another `int`. Below, we use the `type()` function to find the type of the evaluated expression from the previous cell.

In [ ]:
# Run this cell
type((7 - 5) ** 11 + 2 - 13 * 2)

The syntax of the `type()` function is fairly straightforward:

- `type(x)`: Returns the name of the datatype represented by `x`.
- If `x` is an integer, then `type(x)` should return `int` as output.
- Similarly, If `x` is a decimal, then `type(x)` should return `float`.

As soon as division (`/`) or other `float`s are involved, the result is a `float`:

In [ ]:
15 / 3

In [ ]:
type(15 / 3)

We can get `int` results from division by using the **integer division** operator `//`. When the dividend (the number we're dividing) isn't evenly divisible by the divisor (the number we're dividing by), the *result is rounded down*.

In [ ]:
15 // 3

In [ ]:
16 // 3

In [ ]:
type(15 // 3)

There are a couple issues with floating point numbers.  One of the issues is that in order to ensure precision, Python has to use more memory to store a floating point value than an integer value.

If we want to change the datatype of a number into something that uses less memory, this is when we can perform typecasting.

We can **cast** `int`s to `float`s and vice versa by applying the `int()` or `float()` functions to expressions.

In [ ]:
int(15 / 3)

In [ ]:
float(5)

If our `float` is not a round integer, we lose information:

In [ ]:
int(4.1)

What do you think will happen if we try converting numbers to text?  We can use the `str()` function to do this!

In [ ]:
str(4.1)

Instead of the floating point number `4.1`, the call expression `str(4.1)` returns `4.1`.  The quotes are indicative of the output shown here as a string or series of characters.

As you can see, it's possible to transform numberical values into text.  Unfortunately, it doesn't always work the other way around.

Let's see what happens when we attempt to convert a word into a number.

In [ ]:
# Do we get a float?
float('bobcat')

The above should have thrown an error.  Intiutively, that makes sense from the language perspective, as it's not clear how to transform a word into a number.

**Explore**: What if the character string only contained a number?  Surround the numbers in the cells below with quotes `''`.  For example, `10` becomes `'10'`. What will be the output?

In [ ]:
int(4)

In [ ]:
float(4.1)

In [ ]:
float(4)

Why is it that `int()` and `float()` successfully convert this kind of text into numbers?

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. **Please create a PDF using File->Save and Export Notebook as->PDF**