# Homework 4 – Table Manipulations

In this homework assignment, you will use exercise table manipulation skills.

This homework is due on **Friday, April 19th<sup>th</sup> at 11:59PM**.

In [ ]:
import pandas as pd
import numpy as np

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 1: UC Admissions
<hr style="border: 1px solid #fdb515;" />

## Understanding the data

In this part of the homework, we will ask and answer questions about the University of California's admissions numbers for the class that entered in Fall 2019. The data we'll work with in this question comes from [this public webpage](https://www.universityofcalifornia.edu/infocenter/admissions-source-school).

Run the cell below to load in our data as a table.

In [ ]:
schools = pd.read_csv('data/Fall2019_UCEnrollmentData.csv')
schools

Each row corresponds to each of the nearly 1.6K high schools! For each high school, we have the following information:
- ` `: This is just an index of the 660 schools.
- `'School'`: The name of the high school. Note, this is not unique – for instance, the top three rows of our table correspond to three different high schools all with the name `'ABRAHAM LINCOLN HIGH SCHOOL'`; one is in Los Angeles, one is in San Francisco, and one is in San Jose.
- `'City'`: The city in which the high school is. Note, only schools within the US have a valid `'City'` listed; international schools have a city of `'nan'`. (`'nan'` means "missing value".) 
- `'Region'`: The county in which the high school is if the high school is in California, or the state in which the high school is if the high school is elsewhere in the US (see `'ADLAI E STEVENSON HIGH SCHOOL'` above). Again, if the high school is not within the US, `'Region'` is `'nan'`.
- `'Applied'`: The number of students who applied to the **UC System** from that high school for admission in Fall 2019.
- `'Admitted'`: The number of students who were admitted to the **UC System** from that high school for admission in Fall 2019.
- `'Enrolled'`: The number of students who actually chose to attend a school in the **UC System** from that high school starting in Fall 2019.

**Note:** It's a good idea your previous lecture notes, and other online resources open while working on the assignment in the event you have any questions.

You can also easily see the documentation for a function by typing the name of the function on a new line, followed by a `?`, and running the cell

Try it out below! Just add a `?` to the end of the line.

In [ ]:
pd.read_csv?


<hr style="border: 1px solid #fdb515;" />

# Question 1 – Key Numbers
---
## Question 1a – How many students were admitted?

Suppose we're interested in determining the number of students who *applied* to any School in the UC Systme. We can calculate that number by finding the sum of the `'Applied'` column in our dataset like so:

In [ ]:
schools['Applied'].sum()

**Task**: Below, assign the variable `num_admitted` to an integer corresponding to the number of students who were *admitted* to a school in the UC System in our dataset.

In [ ]:
num_admitted = ...

---
## Question 1b – What was the overall acceptance rate?

Below, assign the variable `overall_acceptance_rate` to a float corresponding to the proportion of students who applied to the UC System that were admitted.

_Hint_: Use `num_admitted` along with the example that came right before it.

<!--
BEGIN QUESTION
name: q1b
points: 1
-->

In [ ]:
overall_acceptance_rate = ...
overall_acceptance_rate

---
## Question 1c – Interpretation?

In **Question 1a**, you computed the number of students that the UC System admitted for enrollment in Fall 2019. 

In **Question 1b**, you computed the acceptance rate, is this lower or higher than you expected. 

What might or might not be impacting these numbers? 
Hint: What about transfer students, what about differences in these schools?

Question 1c: *Your Answer Here in Words*

## Question 1d – If you were a student entering college in 2019 would you have been in this data set?

- If you are a California student, is your HS represented in this data set?
- If you are an international student, are you represented here?
- In short, are students like you in this data (or not)?

Question 1d: *Your Answer Here in Words*

<hr style="border: 1px solid #fdb515;" />

# Question 2 – Which Schools?

Now it's time to answer questions of the form "Which schools \_\_\_\_\_"? In order to proceed, you'll need to make sure you're familiar with selecting/dropping, table sorting, and element-wise array operations.

We will also play around with some data-cleaning operations! We (thus far) haven't had to clean much data, and for now we will do a teeny bit.

---
## Question 2a – Removing columns

In this section, we're not going to worry about the city where each school is – we'll look at cities in the next section. It'll be helpful to keep around the `'Region'` column just so that we can see at a glance if a school is in-state, domestic, or international. We also need it to tell apart the three `'ABRAHAM LINCOLN HIGH SCHOOL'`s!

**Task**: Assign `schools_stats` to a new table  that contains all of the columns in `schools` except for `'City'`.

In [ ]:
schools_stats =  schools[['School',...]]
schools_stats

---
## Question 2b – Which school sent the most students?

The value in the `'Enrolled'` column for each high school is the number of students they sent to the UC system.

Below, assign `feeders` to a table with the same columns as `schools_stats`, but with **only the 100 high schools who sent the most students to UC system**, sorted in descending order. The first five rows of your table should look like this:

| School                         | Region        |   Applied |   Admitted |   Enrolled |
|-----------------------------:|--------------:|----------:|-----------:|-----------:|
| LOWELL HIGH SCHOOL | San Francisco | 515 | 370 |  215 |
| DIAMOND BAR HIGH SCHOOL | Los Angeles | 471 | 354 | 214 |
| DOUGHERTY VALLEY HIGH SCHOOL | Contra Costa  |  538 | 386 | 203 |
| ARCADIA HIGH SCHOOL | Los Angeles | 451 | 336 | 194 |
| MISSION SAN JOSE HIGH SCHOOL | Alameda | 422 | 366 | 183 |

_Hint_: Use the `sort_values` and `head` table methods

In [ ]:
feeders= schools_stats.sort_values(by='...',ascending=...).head(...)

In [ ]:
feeders

---
## Question 2c – Drop Schools with no Applications with `'dropna'` function

Often in working with data, you'll have a "missing" value or a "0" value that shows up as "NaN" = Not a Number.

The first step is to remove any school with no applicants ("NaN" in the Applied Column). 

If we do not have any applicants from a school, we can not calculate an acceptance rate!

Once again Python has made our job easier by having a function that "Cleans" data. 

Your job in this question is to create a table `clean_schools_stats` that has none of the NaN

I'll do an example of this with a "messyTest".

In [ ]:
messyTest = pd.DataFrame({
    "Name": ["21ST CENTURY LEARNING INST", "A B MILLER HIGH SCHOOL", "ABLE CHARTER", "ABRAHAM LINCOLN HIGH SCHOOL", "ABRAHAM LINCOLN HIGH SCHOOL"],
    "Region": ["Riverside", "San Bernardino", "San Joaquin", "Los Angeles", "San Francisco"],
    "Applied": [None, 59, 11.0, 65, 226],
    "Admitted": [None, 50, 9.0, 35, 133],
    "Enrolled": [None, 21, None, 26, 80],
    "Acceptance Rate": [None, 0.847458, 0.818182, 0.538462, 0.588496]
})

messyTest

We now want to use the `'dropna'` function to remove any row that has an "NaN" in the Applied column.

In [ ]:
cleanTest = messyTest.dropna(subset=['Applied'])

cleanTest

In [ ]:
clean_schools_stats = schools_stats.dropna(subset=['...'])

---
## Question 2d – Change NaN to 0 for Admissions and Enrollment with Drop Schools with `'fillna'` function

Great - so we now have `clean_schools_stats` where only schools that actually had student applying to the UC system are included. 

Because we want to calculate acceptance rates, we want to change "NaN" to 0 if they appear in either the Admitted or Enrolled column.

Once again, Python has made this really straightforward with a `'fillna'` function. 

I'll show how to do this with our "cleanTest" example (which has a "Nan" in Enrolled for one of the schools). 

Then you do this for your `clean_schools_stats` table.

In [ ]:
cleanTest.loc[:, 'Enrolled'] = cleanTest['Enrolled'].fillna(0)
cleanTest.loc[:, 'Admitted'] = cleanTest['Admitted'].fillna(0)
cleanTest

In [ ]:
clean_schools_stats.loc[:,'...']=clean_schools_stats['...'].fillna(0)
clean_schools_stats.loc[:,'...']=clean_schools_stats['...'].fillna(0)

---
## Question 2e – What was the acceptance rate of each school?

Right now we have the number of students who applied, were admitted, and actually enrolled from each school. We don't have the acceptance rate of students at each school, but we can easily figure that out using some array operations!

Below, add a fifth column to `schools_stats` that gives the `'Acceptance Rate'` for each school. If there were students that applied to the UC system, this value should be a decimal between 0 (no students were admitted) and 1 (all students were admitted).

There are several steps involved:
- First, create an array containing the acceptance rates `acc_rates` for each school. This should be done in one line; remember that each column in a table is an array, and that if you divide two arrays, the division is performed element-wise.
- Then, add a new column called `'Acceptance Rate'` to `schools_stats`, using the array you just created.

- **Note**: unlike in the previous question, you aren't supposed to sort or take the top 10.

The first few rows of your table should look like this:

| Name                        | Region        |   Applied |   Admitted |   Enrolled |   Acceptance Rate |
|----------------------------:|--------------:|----------:|-----------:|-----------:|------------------:|
| A B MILLER HIGH SCHOOL	|San Bernardino	|59.0|	50.0	|21.0	|0.847458|
|	ABLE CHARTER|	San Joaquin|	11.0|	9.0|	0.0|	0.818182|
|	ABRAHAM LINCOLN HIGH SCHOOL|	Los Angeles|	65.0|	35.0|	26.0	|0.538462|
|	ABRAHAM LINCOLN HIGH SCHOOL|	San Francisco|	226.0	|133.0	|80.0	|0.588496|
|	ABRAHAM LINCOLN HIGH SCHOOL|	Santa Clara	|105.0|	56.0|	23.0	|0.533333|

In [ ]:
acc_rates = clean_schools_stats['...']/clean_schools_stats['...']

clean_schools_stats.loc[:,'Acceptance Rate'] = acc_rates

In [ ]:
clean_schools_stats.head()

---
## Question 2f – Which schools had the lowest and highest acceptance rate?

Now that we have a table, `clean_schools_stats`, containing the acceptance rate of each school, it's natural to ask which schools had the highest and lowest acceptance rates.

Your job below is to define two **arrays**:
- `top_5_acc`, which contains the **names** of the five schools with the highest acceptance rates, such that the first element of `top_5_acc` has the absolute highest acceptance rate, the second element has the second highest acceptance rate, and so on.
- `bottom_5_acc`, which contains the **names** of the five schools with the lowest acceptance rates, such that the first element of `bottom_5_acc` has the absolute lowest acceptance rate, the second element has the second lowest acceptance rate, and so on.

At some point, you'll need to sort `clean_schools_stats` by acceptance rate. However, how you choose to do that is up to you – you could elect to sort it in both descending and ascending order, or you could just sort it once and be creative.

In [ ]:
top_5_acc = clean_schools_stats.sort_values(by='...',ascending=False).head(5)
top_5_acc

In [ ]:
bottom_5_acc = clean_schools_stats.sort_values(by='...',ascending=False).tail(5)
bottom_5_acc


<hr style="border: 1px solid #fdb515;" />

# Question 3 – Location

In the last question, we did not use the `'Region'` column from `schools`. In this question, we'll bring that information back in.

---
## Question 3a – How many schools were in Los Angeles county?

Los Angeles is both the name of a city and a county, and counties correspond to regions in our dataset (at least for California high schools).

Below, assign `num_schools_lac` to the **number** of schools in our dataset that are from Los Angeles county.

_Hint: We can use a boolean filter and then "Sum" because Boolean values have 
- 0 = False
- 1 = True

<!--
BEGIN QUESTION
name: q3a
points: 1
-->

In [ ]:
LACountyFilter = clean_schools_stats['...'] == 'Los Angeles'

num_schools_lac = LACountyFilter.sum()

num_schools_lac

---
## Question 3b – How many students actually enrolled from schools in Los Angeles county?

Below, assign `num_students_lac` to the number of students who enrolled in the UC System from high schools in Los Angeles county.

This can be done using the Boolean filter above to "remove" only the values from `clean_schools_stats` that are from LA County. 

*Note*: While our solution is only one line, yours doesn't have to be.

In [ ]:
LACounty_schools_stats = clean_schools_stats[LACountyFilter] 
num_students_lac = LACounty_schools_stats['...'].sum()

num_students_lac

---
## Question 3c – Which schools in Los Angeles county sent the most students?

Below, assign `top_LAC_schools` to a **table** with the same columns as `LACounty_schools_stats`, but with **only the 10 high schools in Los Angeles county who sent the most students to the UC System**, sorted in descending order. The first five rows of your table should look like this:

| Name                          | Region             | Applied      | Admitted | Enrolled | Acceptance Rate |
|------------------------------:|-----------------:|------------:|----------:|-----------:|-----------:|
| DIAMOND BAR HIGH SCHOOL|	Los Angeles |	471.0|	354.0|	214.0|	0.751592|
|	ARCADIA HIGH SCHOOL|	Los Angeles|	451.0	|336.0|	194.0 |	0.745011|
|	WALNUT HIGH SCHOOL	|Los Angeles|	357.0	|276.0|	161.0|	0.773109|
|	GRANADA HILLS CHARTER HIGH SCH|	Los Angeles|	423.0|	288.0|	139.0|	0.680851|	
|	PALOS VERDES PENINSULA HS|	Los Angeles	|378.0 |	258.0|	132.0|	0.682540|

*Note*: A high school *sends* a student to the UC system when that student **enrolls** in the university.

In [ ]:
top_LAC_schools = LACounty_schools_stats.sort_values(by='...',ascending=False).head(10)
top_LAC_schools

---
## Question 3d – Which schools in Alameda county sent more than 50 students?

Below, assign `big_alameda` to a table containing all of the columns of `clean_schools_stats`, but only the rows corresponding to schools in Alameda county that sent more than 50 students to the University of California system. 

_Hint_: You can do this in many ways, but I recommend Binary filtering and doing and. Which is what we have below.

In [ ]:
alamedaFilter = clean_schools_stats['...']== 'Alameda'
alamedaFilter.sum()

In [ ]:
moreThan50Filter = clean_schools_stats['...'] >= 50
moreThan50Filter.sum()

In [ ]:
big_alameda = clean_schools_stats[alamedaFilter & moreThan50Filter]
big_alameda

---
## Question 3e – How many students applied from schools in the Bay Area? 

<img src='https://upload.wikimedia.org/wikipedia/commons/b/bc/Bayarea_map.png' width=400>

The Bay Area consists of the nine counties `'San "Francisco'`, `'San Mateo'`, `'Santa Clara'`, `'Alameda'`, `'Contra Costa'`, `'Solano'`, `'Napa'`, `'Sonoma'`, and `'Marin'`.

Below, you have two tasks.
1. Create a filter for only rows in our `clean_schools_stats` that have counties in the bayRegions array.
2. Assign `bay_schools` to a table with the same columns as `clean_schools_stats`, but only with rows corresponding to schools in the Bay Area.
3. Assign `bay_acc_rate` to the overall acceptance rate of students from the Bay Area. **This requires a new calculation, you can't just look at the `'Acceptance Rate'` column in your table.** 

_Hint_: How did we calculate the overall acceptance rate in Question 1?

In [ ]:
bayRegions = ['San Francisco','San Mateo','Santa Clara','Alameda','Contra Costa','Solano','Napa','Sonoma','Marin'];

bayRegionFilter = clean_schools_stats['...'].isin(bayRegions)

In [ ]:
bay_schools = clean_schools_stats[bayRegionFilter]
bay_schools

In [ ]:
bay_acc_rate = ...

---
## Question 3f – How many schools applied each county in the state of California? 

This is now a nice application of the group_by function that we learned about recenty! Let's go ahead and try to determine the group by. 

Your job below is to look at the plot that is made with these commands, and to give some overall impressions.
- What data is most visible with this plot?
- What is soemthing you learned form this plot?
- What is a question you have after making this plot?

In [ ]:
columns_to_aggregate = ['Applied','Admitted','Enrolled'];

region_summary = clean_schools_stats.groupby('Region')[columns_to_aggregate].sum()
region_summary

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(10, 7))  # Create a figure and an axes.

# Data for plotting
regions = region_summary.index
y_pos = np.arange(len(regions))  # the label locations
width = 0.35  # the width of the bars

# Create horizontal bars
ax.barh(y_pos - width/2, region_summary['Applied'], width, label='Applied', color='blue')
ax.barh(y_pos + width/2, region_summary['Enrolled'], width, label='Enrolled', color='green')

# Adding labels and title
ax.set_yticks(y_pos)
ax.set_yticklabels(regions)
ax.set_xlabel('Number of Students')
ax.set_title('Comparison of Students Applied vs. Enrolled by Region')

# Add a legend
ax.legend()

# Display the plot
plt.show()

Question 3f: Now your job is to answer these questions here about the plot we made above.

- What data is most visible with this plot?
- What is soemthing you learned form this plot?
- What is a question you have after making this plot?

---
## Question 3g – Your own investigation! 

Your job is now to investigate soemthing in this data set on your own! 

Maybe you want to look at a specific county more closely?
Maybe you want to compare counties? 
Maybe you want to compare regions?

Make at least one additional plot and offer a description.