# Lecture 3 – Comments,  Data Types, and Errors

### Spark 10, Spring 2024

### Comments

Here's an example of an unhelpful comment.

In [11]:
2 + 3 # Computes 2 + 3

5

Here's an example of a better comment.

In [12]:
# Finds the largest multiple of 17 less than 244
17 * (244 // 17)

238

## Variable Types

We glossed over something earlier – it seems like there are two different types of numbers!

In [13]:
2 + 3

5

In [14]:
10 / 2

5.0

Any time you add, subtract, or multiply any number of `ints`, the result is still an `int`. But anytime you divide, or use a `float` in a calculation, the result is a `float`.

In [17]:
3 + (2**9) - 15 * 14 + 1

306

In [18]:
3 + (2**9) - 15 * 14 + 1.0

306.0

In [19]:
# Notice how the result is a float, even though 3 divides 15 evenly!
15 / 3

5.0

Weird things can happen when performing arithmetic with floats.

In [20]:
# Should be 0.6
0.1 + 0.2 + 0.3

0.6000000000000001

In [21]:
# Should be 0.2
0.1 + 0.1

0.2

In [22]:
# Should be 1.4
0.1 + 0.1 + 0.1 + 1 + 0.1

1.4000000000000001

## Errors

What happens if we try dividing by 0?

In [23]:
5 / 0

ZeroDivisionError: division by zero

#### In math classes you may have learned that this value is undefined, but I guess Python chose it to be 1

In [24]:
0 ** 0

1

Why is there no error message?

You'll also get an error if your code is syntactically wrong.

In [25]:
2 +

SyntaxError: invalid syntax (4087983127.py, line 1)

In [26]:
3 ** / 4

SyntaxError: invalid syntax (4045155691.py, line 1)

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. **Please create a PDF using File->Save and Export Notebook as->PDF**